html,
body {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #ddd;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.renderer-container {
  height: 100%;
}

.renderer-view {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
